.profil-content {
  background-color: rgb(166, 178, 245);
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 15px;

  .profil-title {
    margin-bottom: 15px;
    margin-right: 15px;
    color: #fff;
  }
}
