<div class="auth-page">
  <div class="page-content">
    <h4 class="page-title">Connexion</h4>
    <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          type="email"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Nom d'utilisateur"
        />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Mot de passe"
        />
      </div>
      <button
        class="btn btn-primary mr-2"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Connexion
      </button>
      ou <a [routerLink]="['/register']">Créer un compte</a>
    </form>
  </div>
</div>
