<div class="modal-profil" [class.open]="open">
  <div class="modal-content">
    <button class="btn btn-close" (click)="onClose()">
      <i class="mdi mdi-arrow-left-thick"></i>
    </button>
    <div class="col-md-6">
      <h2 class="title">Ajouter</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input
            type="email"
            class="form-control"
            id="username"
            formControlName="username"
            placeholder="Nom d'utilisateur"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Mot de passe"
          />
        </div>
        <button
          class="btn btn-primary mr-2"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Ajouter
        </button>
      </form>
    </div>
  </div>
</div>
